@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vh;
    overflow-x: hidden;
}

.section__tag {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.btn {
    background-color: #6415ff;
    color: white;
    border-radius: 500px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

p {
    font-weight: 600;
    color: #7c8ba1;
    line-height: 1.5;
    font-size: 18px;


}

/* Nav Bar */

nav {
    max-width: 1200px;
    width: 100%;
}

.nav__row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    padding-right: 8px;
    height: 40px;
    width: 40px;
}

.nav__logo--name   {
    color: #243e63;
    font-size: 24px;    
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 8px;
    font-size: 14px;
    list-style: none;
}

.nav__link {
    color: #243e63;
    margin: 0 24px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.nav__link--login {
    padding-left: 10px;
    margin: 24px;

}

.nav__link:hover{
    cursor: pointer;
}

.nav__btn {
    padding: 10px 32px;
    color: white;
    border: none;
    transition: all 200ms ease;
}

.nav__btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204, 1);

}

/* Header */

.header__container {
    width: 100%;
    max-width: 1200px;
    padding: 50px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__row {
    display: flex;
    flex-direction: row;
}
.header__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__para {
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 500px;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 62, 99);
    transition: all 300ms ease;
}

.header__email--btn {
    position: absolute;
    z-index: 2;
    margin: 8px;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
     cursor: pointer;
    background-color: rgba(80, 17, 204, 1);
}

.header__cust {
    padding-top: 80px;
    font-size: 12px;
    color: #A0aec0;
}
.cust__logo {
    width: 100%;
    max-width: 320px;
    margin: 16px 0 0;
    opacity: .5;
}

.header__img {
    margin: 16px 0;
        width: 100%;
        max-width: 768px;
}

/* FEATURES */

.features {
    width: 100%;
    max-width: 1024px;
    margin: 0 220px;
}

.features__container {
    justify-content: center;
    align-items: center;
}

.features__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.features__title {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 900;
}

.features__para {
    font-size: 18px;
    max-width: 480px;
    font-weight: 600;
    color: #7c8ba1;
    line-height: 1.5;
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.feature__item {
    width: 320px;
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    margin: 24px;
    max-width: calc(1200px / 3);
}

.feature__img--wrap {
    max-width: 64px;
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    margin-right: 16px;
}

.feature__service--para {
    margin: 16px 0 0 0;
    max-width: calc(634 / 3);
}

/* Quality */

.quality__container {

    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
}

.quality__row {
    display: flex;
    flex: row;
    justify-content: center;
}

.quality__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;
}

.quality__title {
    margin: 16px 0;
    font-weight: 900;
}

.quality__img--wrapper {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 4px;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    position: relative;
}
.quality__img {
    width: 100%;
    margin: 16px 0;
    z-index: 1;
}

.quality__btn {
    margin: 32px 0 0;
    padding: 12px 32px;
    width: 160px;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/* STEPS */

.steps__container {
    width: 100%;
    padding: 96px 64px;
}

.steps__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img {
    width: 100%;
}

.steps__description {
    padding: 32px 0 0 64px;
}

.steps__title {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 900;
    line-height: 1.5;
    color: rgb(36, 62, 99);
}

.step__list {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
    line-height: 1;
    font-weight: 600;
}

.step__description {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0 0 0 24px;
}

.step__title {
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    font-weight: 600;
}

.step__para {
    font-size: 14px;
    color: #718096;
    line-height: 2;
    font-weight: 500px;
}

/* VALUES */

.values__container {
    width: 100%;
    padding: 96px 32px;
}

.values__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__description, .values__img--wrapper {
    width: 50%;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.values__list {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    max-width: none;
  
}

.value__item--wrapper {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32lx
}

.vlaue:nth-of-type(2) {
    margin-top: 32px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}
.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;

}

.value__para {
    margin-top: 16px;
}


.values__title {
    font-weight: 900;
    margin: 16px 0;
}

.values__img {
    width: 100%;
}


.values__btn {
    margin-top: 48px;
}

/* PLANS */

.pricing__container {
    width: 100%;
    padding: 96px 32px;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title {
    font-weight: 900;
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: .025em;

}

.pricing__para {
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.plan {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    max-width: 24rem;
    border-radius: .5rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0 2rem;
    text-align: center;
    border-radius: .5rem;
    color: rgb(26, 32, 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: .5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    line-height: 1.625;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    margin: 0 -2rem;
    padding: 2rem;
    flex: 1 1 0%;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.plan__bottom {
    padding: 2rem 4rem;
}

.plan__btn {
    width: 100%;
    font-weight: 700;
    letter-spacing: .05em;
    border: none;
    transition: all 300ms ease;
}

.plan__btn:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}
.plan:nth-child(2) .plan__btn {
  color: #6415ff;
  background-color: #f7fafc;
}
.plan:nth-child(2) .plan__stripe {
  visibility: hidden;
}
.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.plan:nth-child(odd) .plan__title,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}
.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}
.plan:nth-child(2) .plan__title,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__time,
.plan:nth-child(2) .plan__description {
  color: #f7fafc;
}
.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}
.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
}

.plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: .1em;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .025em;
}

.plan__description {
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 20px;
}