@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0 32px
}

.btn {
    background-color: #6415ff;
    color: white;
    border-radius: 500px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
}

.purple {
    color: #6415ff;
}

/* Nav Bar */

nav {
    max-width: 1200px;
    width: 100%;
}

.nav__row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    padding-right: 8px;
    height: 40px;
    width: 40px;
}

.nav__logo--name   {
    color: #243e63;
    font-size: 24px;    
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 8px;
    font-size: 14px;
    list-style: none;
}

.nav__link {
    color: #243e63;
    margin: 0 24px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.nav__link--login {
    padding-left: 10px;
    margin: 24px;

}

.nav__link:hover{
    cursor: pointer;
}

.nav__btn {
    padding: 10px 32px;
    color: white;
    border: none;
    transition: all 200ms ease;
}

.nav__btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204, 1);

}

/* Header */

.header__container {
    padding: 50px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__row {
    display: flex;
    flex-direction: row;
}
.header__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__para {
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 500px;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 62, 99);
    transition: all 300ms ease;
}

.header__email--btn {
    position: absolute;
    z-index: 2;
    margin: 8px;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
     cursor: pointer;
    background-color: rgba(80, 17, 204, 1);
}

.header__cust {
    padding-top: 80px;
    font-size: 12px;
    color: #A0aec0;
}
.cust__logo {
    width: 100%;
    max-width: 320px;
    margin: 16px 0 0;
    padding: ;
    opacity: .5;
}

.header__img {
    margin: 16px 0;
        width: 100%;
        max-width: 768px;
}