@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1200px;
    padding: 0 32px
}

.btn {
    background-color: #6415ff;
    color: white;
    border-radius: 500px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

p {
    font-weight: 600;
    color: #7c8ba1;
    line-height: 1.5;
    font-size: 18px;


}

/* Nav Bar */

nav {
    max-width: 1200px;
    width: 100%;
}

.nav__row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}


.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    padding-right: 8px;
    height: 40px;
    width: 40px;
}

.nav__logo--name   {
    color: #243e63;
    font-size: 24px;    
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 8px;
    font-size: 14px;
    list-style: none;
}

.nav__link {
    color: #243e63;
    margin: 0 24px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.nav__link--login {
    padding-left: 10px;
    margin: 24px;

}

.nav__link:hover{
    cursor: pointer;
}

.nav__btn {
    padding: 10px 32px;
    color: white;
    border: none;
    transition: all 200ms ease;
}

.nav__btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204, 1);

}

/* Header */

.header__container {
    width: 100%;
    max-width: 1200px;
    padding: 50px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__row {
    display: flex;
    flex-direction: row;
}
.header__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__para {
    margin: 20px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 500px;
}

.header__email--input:hover {
    border-color: rgb(160, 174, 192);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 62, 99);
    transition: all 300ms ease;
}

.header__email--btn {
    position: absolute;
    z-index: 2;
    margin: 8px;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
     cursor: pointer;
    background-color: rgba(80, 17, 204, 1);
}

.header__cust {
    padding-top: 80px;
    font-size: 12px;
    color: #A0aec0;
}
.cust__logo {
    width: 100%;
    max-width: 320px;
    margin: 16px 0 0;
    opacity: .5;
}

.header__img {
    margin: 16px 0;
        width: 100%;
        max-width: 768px;
}

/* FEATURES */

.features {
    width: 100%;
    max-width: 1024px;
    margin: 0 220px;
}

.features__container {
    justify-content: center;
    align-items: center;
}

.features__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.features__title {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 900;
}

.features__para {
    font-size: 18px;
    max-width: 480px;
    font-weight: 600;
    color: #7c8ba1;
    line-height: 1.5;
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.feature__item {
    width: 320px;
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    margin: 24px;
    max-width: calc(1200px / 3);
}

.feature__img--wrap {
    max-width: 64px;
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    margin-right: 16px;
}

.feature__service--para {
    margin: 16px 0 0 0;
    max-width: calc(634 / 3);
}

/* Quality */

.quality__container {

    width: 100%;
    max-width: 1200px;
    padding: 50px 64px;
}

.quality__row {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

.quality__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;
}

.quality__title {
    margin: 16px 0;
    font-weight: 900;
}

.quality__img--wrapper {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 4px;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    position: relative;
}
.quality__img {
    width: 100%;
    margin: 16px 0;
    z-index: 1;
}

.quality__btn {
    margin: 32px 0 0;
    padding: 12px 32px;
    width: 160px;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}